 
body {
    background-color: rgb(41, 39, 39);
    width: 100%;
    height: 100%;
}
h1 {
    color: rgba(77, 233, 236, 0.933);   
}
button {
    margin-right: 5px;
}
h2 {
    color: rgb(160, 154, 159);
}